<div class="adv-container">
    <div class="container">
        <h1>m<i class="glyphicon glyphicon-tint"></i>Pel</h1>
        <h2>die mobile Pegelmessstation</h2>
    </div>
</div>

<div class="container text-center main">
    <h1>is made for everyone</h1>
    <h3 class="med">Die mobile Pegelmessstation lässt sich von jedem, überall einsetzen und informiert zuverlässig über den aktuellen Pegelstand.</h3>

    <hr class="half-hr">

    <div class="row key-act">
        <div class="col-sm-4">
            <i class="glyphicon glyphicon-map-marker"></i>
            <h3>Mobilität</h3>
            <p class="med">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam </p>
        </div>
        <div class="col-sm-4">
            <i class="glyphicon glyphicon-stats"></i>
            <h3>Reporting</h3>
            <p class="med">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
        </div>
        <div class="col-sm-4">
            <i class="glyphicon glyphicon-cog"></i>
            <h3>Verwaltung</h3>
            <p class="med">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam</p>
        </div>
    </div>

    <hr>

    <h1>über uns</h1>
    <h3 class="med">Kontaktieren Sie uns und erfahren Sie mehr über uns und die mobile Pegelmesstation</h3>

    <hr class="half-hr">

    <div class="row key-act">
        <div class="col-sm-6">
            <i class="glyphicon glyphicon-user"></i>
            <h3>Team</h3>
            <span id="member1" class="member-photo"></span>
            <span id="member2" class="member-photo"></span>
            <span id="member3" class="member-photo"></span>
            <span id="member4" class="member-photo"></span>
        </div>
        <div class="col-sm-6">
            <i class="glyphicon glyphicon-earphone"></i>
            <h3>Kontakt</h3>
            <p>moPel GmbH<br> Flutstraße 205<br> 83512 Wasserburg am Inn<br>
                <br> Telefon: 089 7523675 643<br> E-Mail: info@mopel.de</p>
        </div>
    </div>
</div>